@font-face {
    font-family: "Inter";
    src: url(../fonts/Inter/Inter-Regular.ttf);
    font-display: swap;
}

@font-face {
    font-family: "Forum";
    src: url(../fonts/Forum/Forum-Regular.ttf);
    font-display: swap;
}